[package]
name = "zipfs"
version = "0.1.0"
edition = "2021"

[dependencies]
bimap = "0.6.3"
clap = { version = "4.5.7", features = ["derive"] }
color-eyre = "0.6.3"
ctrlc = "3.4.4"
fuser = "0.14.0"
libc = "0.2.155"
lru = "0.12.3"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
zip = "2.1.3"

[profile.release]
lto = true
